{% extends "sz_chatabout:templates/layout.jinja2" %}

{% block headtitle %}Chat{% endblock %}
{% block pagetitle %}Chat{% endblock %}

{% block extrahead %}
  {% include "sz_chatabout:templates/jsconfig.jinja2" %}
  <script>
    require(['{{request.application_url}}/static/chat.js'], function(chat) {
        chat.init();
    });
  </script>
{% endblock %}

{% block main %}
<div class="row">
  <div class="span10">
    <!-- ko ifnot: joined -->
    <form data-bind="submit: join_chat, css: {hide: joined()}" class="hide">
      <fieldset>
        <legend>Log-in</legend>
        <label>Name</label>
        <input data-bind="value: name" type="text" name="name" />
        <div class="controls">
          <button type="submit" class="btn btn-primary">Join</button>
        </div>
      </fieldset>
    </form>
    <!-- /ko -->

    <!-- ko if: joined -->
    <form data-bind="submit: submit_chat, css: {hide: !joined()}" class="hide">
      <fieldset>
        <legend data-bind="text: name"></legend>
        <input data-bind="value: chat_line" type="text" name="chat" />
      </fieldset>
    </form>

    <!-- ko foreach: chat_entries -->
    <div class="row well chat-entry">
      <div data-bind="attr: {class: classes}">
        <div class="span1" data-bind="text: created"></div>
        <div class="span1" data-bind="text: name"></div>
        <div class="span7" data-bind="text: text"></div>
      </div>
    </div>
    <!-- /ko -->

    <!-- /ko -->
  </div>
</div>
{% endblock %}
