<script>
  global_config = {
      sock_url: '{{request.application_url}}/ws/__ChatManager__',
      sockjs_url: '{{request.application_url}}/static/third-party/sockjs-0.3.4.min',
      jquery_url: '{{request.application_url}}/static/third-party/jquery-1.9.1.min',
      knockout_url: '{{request.application_url}}/static/third-party/knockout-2.2.1.min'
  };
</script>
<script src="{{request.application_url}}/static/third-party/require-2.1.4.min.js"></script>
<script src="{{request.application_url}}/static/config.js"></script>
