<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>SZ_CHATABOUT :: {% block headtitle %}Index{% endblock %}</title>
    <link href="{{request.application_url}}/static/third-party/bootstrap/css/bootstrap.min.css"
          media="screen" rel="stylesheet" type="text/css" />
    <link href="{{request.application_url}}/static/style.css"
          media="screen" rel="stylesheet" type="text/css" />
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="container" id="main">
      <div class="hero-unit">
        <h1 id="page-title">{% block pagetitle %}{% endblock %}
      </div>
      {% block main %}
      {% endblock %}
    </div>
  </body>
</html>
